/* 
 * Microframe (S)CSS Framework 
 * 2013 Johannes Braun <j.braun@agentur-halma.de
 *
*/
/* line 1, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("css/boxsizing.htc"); }

/* line 12, ../sass/_reset.scss */
body {
  font-family: "Helvetica Neue", helvetica, arial, sans;
  font-size: 13px;
  line-height: 1.5em;
  color: #424242;
  background: #fff; }

/* line 20, ../sass/_reset.scss */
p, ul, li, dl, dt, dd, article, section, aside {
  display: block; }

/* line 24, ../sass/_reset.scss */
hr {
  border: 0;
  border-top: 1px solid #d6d7d8;
  margin: 19px 0 20px 0;
  height: 0;
  line-height: 0; }

/* line 32, ../sass/_reset.scss */
a {
  color: #97bf0d;
  text-decoration: underline; }
  /* line 35, ../sass/_reset.scss */
  a:hover {
    text-decoration: none; }
  /* line 38, ../sass/_reset.scss */
  a:focus {
    outline: 2px dotted #999999; }

/* line 43, ../sass/_reset.scss */
ol, ul {
  padding: 0; }

/* line 47, ../sass/_reset.scss */
ul, ul li {
  list-style-type: square; }

/* Some convenience styles */
/* line 54, ../sass/_reset.scss */
.fullwidth {
  width: 100%; }

/* line 58, ../sass/_reset.scss */
.float-left {
  float: left; }

/* line 62, ../sass/_reset.scss */
.float-right {
  float: right; }

/* line 66, ../sass/_reset.scss */
.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
  float: none; }

/* based on normalize.css v1.0.0 | MIT License | git.io/normalize */
/* =============================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 & Firefox 3.
 */
/* line 17, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 & Firefox 3.
 */
/* line 23, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 32, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 40, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 53, ../sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  font-family: sans-serif;
  color: #333333; }

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 65, ../sass/_normalize.scss */
button, input[type=submit], select {
  font-family: sans-serif; }

/* line 68, ../sass/_normalize.scss */
input, textarea {
  font-family: monospace; }

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
/* line 75, ../sass/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 87, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }
/* line 90, ../sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }
/* line 93, ../sass/_normalize.scss */
a[href$=pdf] {
  position: relative;
  padding-right: 17.008px;
  padding-right: 1.063rem; }
  /* line 96, ../sass/_normalize.scss */
  a[href$=pdf]:after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 17.008px;
    height: 1.063rem;
    width: 17.008px;
    width: 1.063rem;
    padding: 0;
    margin: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAMAAAAMs7fIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAGxQTFRF////8PDwwMDAe3x8paWmhQ8UnYOE7Rwk6ExSsRUbzxgfWAoNdg4SOwcJ3N3ebm5v8lVb4URL2z5E6ygv6UBG5XB15HyB4Kyv5mRp4pSY3dDS37i73sTG51he44iMb2Jjp42PU0ZHcj5ANzc32/NifwAAAAF0Uk5TAEDm2GYAAAABYktHRACIBR1IAAAACXBIWXMAAABIAAAASABGyWs+AAAAe0lEQVQY043OyxqCIBCA0XFEnS6OmkSAlrf3f0cJLaFV/4KPOYsBAEjwCHyYir00y91cHJE4nfMklsu1xEiYuUKo6+ZGrlbSfRO3Wbgbq8f7DEX/I+ZHLJGNRZmO+lDss1NaFlJ/xGr/eP+iYRPjPxdsHiVxLNNcfVtwBdPrC9ktDOFPAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDEyLTA3LTE5VDIyOjI0OjEyLTA3OjAwhMR61wAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxMi0wMS0yMVQwMDoyNDoyNS0wODowMNq1VW4AAAAASUVORK5CYII=);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Chrome, Safari 5.
 */
/* line 125, ../sass/_normalize.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  margin: 19.2px 0 38.4px;
  margin: 1.2rem 0 2.4rem; }

/* line 131, ../sass/_normalize.scss */
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/* line 137, ../sass/_normalize.scss */
h3 {
  font-size: 18.66672px;
  font-size: 1.16667rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/* line 143, ../sass/_normalize.scss */
h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/* line 149, ../sass/_normalize.scss */
h5 {
  font-size: 13.33328px;
  font-size: 0.83333rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/* line 155, ../sass/_normalize.scss */
h6 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 38.4px;
  line-height: 2.4rem;
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, Chrome.
 */
/* line 165, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 168, ../sass/_normalize.scss */
blockquote {
  margin: 19.2px 0;
  margin: 1.2rem 0;
  padding: 0 0 0 9.6px;
  padding: 0 0 0 0.6rem;
  border: 0;
  border-left: 9.6px solid #cccccc;
  border-left: 0.6rem solid #cccccc; }

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/* line 179, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 188, ../sass/_normalize.scss */
p, pre {
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, Chrome.
 */
/* line 196, ../sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 206, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
/* line 216, ../sass/_normalize.scss */
q {
  quotes: none; }
  /* line 218, ../sass/_normalize.scss */
  q:before, q:after {
    content: '';
    content: none; }

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/* line 228, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 236, ../sass/_normalize.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 243, ../sass/_normalize.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

/* line 251, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 263, ../sass/_normalize.scss */
dl, menu, ol, ul {
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/* line 271, ../sass/_normalize.scss */
dd {
  margin: 0 0 19.2px 19.2px;
  margin: 0 0 1.2rem 1.2rem; }

/*
 * Addresses paddings set differently in IE 6/7.
 */
/* line 279, ../sass/_normalize.scss */
menu, ol, ul {
  list-style-position: outside;
  padding: 0 0 0 19.2px;
  padding: 0 0 0 1.2rem; }

/* line 285, ../sass/_normalize.scss */
ol {
  list-style-type: decimal; }
  /* line 287, ../sass/_normalize.scss */
  ol ol {
    list-style-type: upper-alpha; }
    /* line 289, ../sass/_normalize.scss */
    ol ol ol {
      list-style-type: lower-alpha; }

/* line 295, ../sass/_normalize.scss */
ul {
  list-style-type: disc; }
  /* line 297, ../sass/_normalize.scss */
  ul ul {
    list-style-type: square; }
    /* line 299, ../sass/_normalize.scss */
    ul ul ul {
      list-style-type: circle; }

/* line 305, ../sass/_normalize.scss */
li {
  margin: 19.2px 0;
  margin: 1.2rem 0; }

/* line 310, ../sass/_normalize.scss */
nav li {
  list-style: none;
  margin: 0; }

/*
 * Corrects list images handled incorrectly in IE 7.
 */
/* line 321, ../sass/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9, Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 336, ../sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 345, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures & Forms
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, Opera 11.
 * + Corrects margin displayed oddly in IE 6/7.
 */
/* line 358, ../sass/_normalize.scss */
figure, form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
/* line 365, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 376, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  display: table;
  /* 4 */ }

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 * 4. Enable line-wrapping in IE8+, from
 *      http://www.456bereastreet.com/archive/201210/how_to_line_wrap_text_in_legend_elements_even_in_ie/
 */
/* line 390, ../sass/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses Firefox 3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 401, ../sass/_normalize.scss */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 414, ../sass/_normalize.scss */
.pointy, label, button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

/* line 422, ../sass/_normalize.scss */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/* line 429, ../sass/_normalize.scss */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/*
 * A. Re-set default cursor for disabled elements.
 */
/* line 439, ../sass/_normalize.scss */
button[disabled] {
  cursor: default;
  /* A. */ }

/* line 443, ../sass/_normalize.scss */
input {
  /*
   * 1. Addresses box sizing set to content-box in IE 8/9.
   * 2. Removes excess padding in IE 8/9.
   * 3. Removes excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */
  /*
   * 1. Addresses `appearance` set to `searchfield` in Safari 5, Chrome.
   * 2. Addresses `box-sizing` set to `border-box` in Safari 5, Chrome (include `-moz`
   *    to future-proof).
   */ }
  /* line 444, ../sass/_normalize.scss */
  input[disabled] {
    cursor: default;
    /* A. */ }
  /* line 453, ../sass/_normalize.scss */
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */ }
  /* line 464, ../sass/_normalize.scss */
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
    /*
     * Removes inner padding and search cancel button in Safari 5, Chrome on OS X.
     */ }
    /* line 472, ../sass/_normalize.scss */
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 481, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 490, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 502, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 507, ../sass/_normalize.scss */
iframe {
  border: 0; }

/* normalize is HTML5Boilerplate's normalize.css stylesheet */
/* Grid */
/* line 3, ../sass/_grid.scss */
.container {
  width: 960px;
  min-width: 400px;
  max-width: 1160px;
  margin: 0 auto; }

/* line 10, ../sass/_grid.scss */
.row {
  display: block;
  overflow: visible;
  margin-left: -18px;
  margin-right: -18px;
  padding: 0 18px 0 0; }

/* line 19, ../sass/_grid.scss */
.row:after, .clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both; }

/* line 28, ../sass/_grid.scss */
.column, .columns {
  position: relative;
  display: block;
  float: left;
  padding-left: 18px; }

/* line 36, ../sass/_grid.scss */
.one.column, .one.columns {
  width: 8.33333%; }

/* line 37, ../sass/_grid.scss */
.two.columns {
  width: 16.66667%; }

/* line 38, ../sass/_grid.scss */
.three.columns {
  width: 25%; }

/* line 39, ../sass/_grid.scss */
.four.columns {
  width: 33.33333%; }

/* line 40, ../sass/_grid.scss */
.five.columns {
  width: 41.66667%; }

/* line 41, ../sass/_grid.scss */
.six.columns {
  width: 50%; }

/* line 42, ../sass/_grid.scss */
.seven.columns {
  width: 58.33333%; }

/* line 43, ../sass/_grid.scss */
.eight.columns {
  width: 66.66667%; }

/* line 44, ../sass/_grid.scss */
.nine.columns {
  width: 75%; }

/* line 45, ../sass/_grid.scss */
.ten.columns {
  width: 83.33333%; }

/* line 46, ../sass/_grid.scss */
.eleven.columns {
  width: 91.66667%; }

/* line 47, ../sass/_grid.scss */
.twelve.columns {
  width: 100%; }

/*
 * Block Grid
 */
/* line 53, ../sass/_grid.scss */
ul.block-grid {
  margin: 0;
  padding: 0; }
  /* line 56, ../sass/_grid.scss */
  ul.block-grid > li {
    list-style-type: none;
    list-style-image: none;
    float: left;
    margin: 0;
    padding: 0 18px 18px 0; }
  /* line 64, ../sass/_grid.scss */
  ul.block-grid.two li {
    width: 50.000%; }
    /* line 66, ../sass/_grid.scss */
    ul.block-grid.two li:nth-of-type(2n+1) {
      clear: both; }
  /* line 71, ../sass/_grid.scss */
  ul.block-grid.three li {
    width: 33.000%; }
  /* line 72, ../sass/_grid.scss */
  ul.block-grid.four li {
    width: 25.000%; }
  /* line 73, ../sass/_grid.scss */
  ul.block-grid.five li {
    width: 20.000%; }
  /* line 75, ../sass/_grid.scss */
  ul.block-grid.six li {
    width: 16.666%; }
    /* line 77, ../sass/_grid.scss */
    ul.block-grid.six li:nth-of-type(6n+1) {
      clear: both; }
  /* line 82, ../sass/_grid.scss */
  ul.block-grid.eight li {
    width: 12.500%; }
  /* line 83, ../sass/_grid.scss */
  ul.block-grid.ten li {
    width: 10.000%; }
  /* line 84, ../sass/_grid.scss */
  ul.block-grid:after {
    content: '.';
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
    display: block; }
