/**
 * _base.scss
 *
 * Basic styles, classes and extends for the microframe scss framework
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @packacge microframe
 */


/*
 * Extends
 */

/**
 * clearfix
 *
 * We all know what it does...?! ;)
 **/
.clearfix {
	content:'.';
	display:block;
	visibility: hidden;
	height:0;
	line-height: 0;
	clear:both;
}

.nobullets {
	list-style-type: none;
	list-style-image: none;
}

/*
 * Resets
 */

* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	*behavior:url('css/boxsizing.htc');
}

body {
	font-family:"Helvetica Neue", helvetica, arial, sans;
	font-size:$fontSize;
	line-height:1.5em;
	color:#424242;
	background:#fff;

	width:100%;
	margin:0;
	padding:0;
}

hr {
	border:0;
	border-top:1px solid $lightGrey;
	margin:$verticalUnit - 1px 0 $verticalUnit 0;
	height:0;
	line-height:0;
	&.light {
		border:0;
		height:1px;
		background:$superLightGrey;
		@include linear_gradient(left, $superLightGrey, $lightGrey, $superLightGrey);
		display:block;
		width:100%;
	}
}

a {
	color:$primaryColor;
	text-decoration:underline;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline:2px dotted $mediumGrey;
	}
}

ol, ul {
	padding:0;
}

ul, ul li {
	list-style-type:square;
}


/* Some convenience styles */

.fullwidth {
	width:100%;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clearfix:after{
	@extend .clearfix
}

