.vr-raster {
	background-image:-moz-linear-gradient(top, transparent 95%, #cc0000 100%);
	background-image:-webkit-linear-gradient(top, transparent 95%, #cc0000 100%);
	background-image:-ms-linear-gradient(top, transparent 95%, #cc0000 100%);
	background-image:-o-linear-gradient(top, transparent 95%, #cc0000 100%);
	background-image:linear-gradient(top, transparent 95%, #cc0000 100%);
	background-repeat:repeat-y;
	background-position: 0 0;
	background-size:100% $verticalUnit;
}

.block {
	background:#ccc;
	margin-bottom:$verticalUnit;
	> p {
		padding:$verticalUnit;
	}
	.block {
		background:#aaa;
		.block {
			background:#888;
		}
	}
}
