/**
 * _grid.scss
 *
 * grid module for microframe scss framework
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package microframe
 */
.container {
	min-width:360px;
	max-width:1160px;
	margin:0 auto;

	.row {
		display:block;
		overflow:visible;
		margin-left: -1*$gutterWidth;
		margin-right: -1*$gutterWidth;
		padding:0 $gutterWidth 0 0;
		&:after {
			@extend .clearfix;
		}

		.column, .columns {
			position:relative;
			display:block;
			float:left;
			padding-left:$gutterWidth;

			img {
				max-width:100%;
				height:auto;
			}
		}
	}
}

	
@function word($number){
	@if $number == 0 { @return "zero";}
	@if $number == 1{ @return "one";}
	@if $number == 2{ @return "two";}
	@if $number == 3{ @return "three";}
	@if $number == 4 { @return "four";}
	@if $number == 5 { @return "five";}
	@if $number == 6 { @return "six";}
	@if $number == 7 { @return "seven";}
	@if $number == 8 { @return "eight";}
	@if $number == 9 { @return "nine";}
	@if $number == 10 { @return "ten";}
	@if $number == 11 { @return "eleven";}
	@if $number == 12 { @return "twelve";}
	@if $number == 13 { @return "thirteen";}
	@if $number == 14 { @return "fourteen";}
	@if $number == 15 { @return "fifteen";}
	@if $number == 16 { @return "sixteen";}
	@if $number == 17 { @return "seventeen";}
	@if $number == 18 { @return "eighteen";}
	@if $number == 19 { @return "nineteen";}
	@if $number == 20 { @return "twenty";}
	@return "NaN";
}

$columnWidth: 100% / $columns;

@for $c from 1 through $columns {
	$n:word($c);
	.#{$n}.columns {
		width:($columnWidth * $c);
	}
}


/*
 * Block Grid
 */

ul.block-grid {
	margin:0;
	padding:0;
	> li {
		list-style-type:none;
		list-style-image: none;
		float:left;
		margin:0;
		padding:0 $gutterWidth $gutterWidth 0;
		img {
			max-width:100%;
			height:auto;
		}
	}

	@each $i in $blockGrids {
		$n:word($i);
		&.#{$n} {
			li {
				width:100% / $i;
				&:nth-of-type(#{$i}n+1){
					clear:both;
				}
			}
		}
	}

	&:after{
		@extend .clearfix;
	}
}
