/* Small (Phone) */
@media screen and (max-width:$breakpointSmall){
	@if ($debug){
		body:before {
			content:'Phone';
			background:#333;
			color:#fff;
			position:fixed;
			top:0;
			left:0;
			padding:4px;
		}
	}
	.row {
		.column, .columns {
			width:100%;
			float:none;
		}
	}

	.navlist.horizontal {
		ul {
			width:100%;
			float:none;
			li {
				width:100%;
				float:none;
			}
		}
	}
	.hide-on-small, .hide-on-medium-down {
		display:none;
	}
	.show-on-small, .show-ons-medium-down {
		display:block;
	}
}


/* Tablet */
@media screen and (min-width:$breakpointSmall + 1px) and (max-width:$breakpointLarge - 1px) {
	@if ($debug){
		body:before {
			content:'Tablet';
			background:#333;
			color:#fff;
			position:fixed;
			top:0;
			left:0;
			padding:4px;
		}
	}
}

/* Large (Desktop) */
@media screen and (min-width:$breakpointLarge){
	@if ($debug){
		body:before {
			content:'Desktop';
			background:#333;
			color:#fff;
			position:fixed;
			top:0;
			left:0;
			padding:4px;
			z-index:999;
		}
	}
	.hide-on-large, .hide-on-medium-up {
		display:none;
	}
	.show-on-large, .show-on-medium-up {
		display:block;
	}
}

