/**
 * _off_canvas_menu.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package microframe
 */

$transitionTime:0.5s;
$ocMenuWidth:300px;

body {
	width:100%;
	overflow-x:hidden;
	padding:$gutterWidth;
}

.ocmenu-toggle {
	display:none;
}

@media screen and (max-width:$breakpointLarge - 1px){
	.ocmenu {

		.ocmenu-list {
			width:$ocMenuWidth;
			height:100%;
			margin:0;
			position:fixed;
			top:0;
			left:0;

			background:#000;
			background:rgba(0, 0, 0, 0.8);
			box-shadow:4px 0 8px rgba(30, 30, 30, 0.9);

			z-index:3;

			-moz-transform:translate3d(-100%, 0, 0)/* scale3d(0.97, 0.97, 0.97)*/;
			transition:all $transitionTime ease;

			li {
				list-style:none;
				a {
					display:block;
					color:#fff;
					text-decoration: none;
					line-height:3em;
					border-bottom:1px solid #ccc;
				}
				ul {
					margin:0;

				}
			}
		}
		&:target {
			.ocmenu-list {
				-moz-transform:translate3d(0, 0, 0) /*scale3d(1.0, 1.0, 1.0)*/;
			}
			.ocmenu-toggle {
				.ocmenu-close {
					display:block;
				}
				.ocmenu-open {
					display:none;
				}
			}
		}
	}
	.container {
		position:relative;
		left:0;
		top:0;
		transition:all 0.4s ease;
	}

	.js-ready.js-nav .container {
		left:$ocMenuWidth;
	}


	.ocmenu-toggle {
		display:block;
		background:#000;
		background:rgba(0, 0, 0, 0.8);
		width:48px;
		height:48px;
		position:fixed;
		right:0;
		top:0;
		z-index:4;
		a {
			position:absolute;
			right:0px;
			top:0;
			color:white;
			padding:10px;
			text-decoration:none;
			font-size:2em;
			display:block;
			text-align: center;
			width:100%;
			height:100%;
		}
		.ocmenu-close {
			display:none;
		}
		.ocmenu-open {
			display:block;
		}
	}

}


