/**
 * _off_canvas_menu.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package microframe
 */

$transitionTime:0.5s;
$ocMenuWidth:300px;

body {
	width:100%;
	overflow-x:hidden;
	padding:$gutterWidth;
}

.ocmenu-toggle {
	display:none;
}

@media screen and (max-width:$breakpointLarge - 1px){
	.ocmenu {
		position:fixed;
		top:0;
		left:0;

		.ocmenu-list {
			width:$ocMenuWidth;
			height:100%;
			margin:0;

			position:fixed;
			top:0;
			left:-100%;

			background:#000;

			transition:all $transitionTime ease;

			li {
				list-style:none;
				a {
					display:block;
					color:#fff;
					text-decoration: none;
					line-height:3em;
					border-bottom:1px solid #ccc;
				}
				ul {
					margin:0;
				}
			}
		}
		&:target {
			.ocmenu-list {
				left:0;
			}
			.ocmenu-toggle {
				.ocmenu-close {
					display:block;
				}
				.ocmenu-open {
					display:none;
				}
			}
		}
	}

	.container {
		position:relative;
		left:0;
		top:0;
		transition:all $transitionTime ease;
	}

	.js-ready.js-nav .container {
		left:$ocMenuWidth;
	}

	.ocmenu-toggle {
		display:block;
		background:#000;
		width:48px;
		height:48px;
		position:fixed;
		right:0;
		top:0;
		z-index:1;
		a {
			color:white;
			padding:10px;
			text-decoration:none;
			font-size:2em;
			display:block;
			text-align: center;
			width:100%;
			height:100%;
		}
		.ocmenu-close {
			display:none;
		}
		.ocmenu-open {
			display:block;
		}
	}
}

.csstransforms3d {
	.ocmenu {
		.ocmenu-list {
			left:0!important;
			-moz-transform:translate3d(-100%, 0, 0) scale3d(0.9,0.9,0.9);
			-webkit-transform:translate3d(-100%, 0, 0) scale3d(0.9, 0.9, 0.9);
			transform:translate3d(-100%, 0, 0) scale3d(0.9, 0.9, 0.9);
		}
		&:target .ocmenu-list {
			left:0!important;
			-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
			-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
			transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
		}
	}
}
