/* 
 * Microframe (S)CSS Framework 
 * 2013 Johannes Braun <j.braun@agentur-halma.de
 *
*/

$fontSize: 13px;
//$gutterWidth: 0.8%;
$gutterWidth:18px;
$headerFont: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$bodyFont: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
$inputFont: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif; 
$verticalUnit:20px;
$borderRadius:4px;

$primaryColor:#97BF0D;
$secondaryColor:#89BC5C;
$tertiaryColor:#BC5C89;

$superLightGrey:#f2f3f4;
$lightGrey:#d6d7d8;
$mediumGrey:#999;
$darkGrey:#666;

$successColor:#89BC5C;
$alertColor:#CB401A;

@import "reset";
@import "normalize"; /* normalize is HTML5Boilerplate's normalize.css stylesheet */
@import "grid";
